/*
blue #4ea6d3
yellow #FFD155
red #FF7B55

back #f9f8f6
grey #54575a
grey small  rgba(18,18,18,0.5)
black small #121212
yellow #ffb21a  hover #faa600

black exper #757a80




v2
grey      #3f444a;

grey2 (links)   #525e64
blue    #32c5d2
grey background-color: #30353b;
dark section p #838e9a
*/


/* 
@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/HelveticaThin/HelveticaThin.eot");
    src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
} */


body {
    background-color: #fff;
    /*background-color: #f9f8f6;*/
    font-size:16px;
    /*background-color: #eee;*/
    font-family: "HelveticaRegular",Helvetica,Arial,sans-serif;
}
.startLoader{
    color: #32c5d2;
    text-align: center;
    margin-top: 200px;
}
.container {
    width: 100%;
    margin:0;
    padding: 0;
}
.row {
    margin: 0;
    /*padding: 0;*/
}
section {
    padding: 10px 0;
}
/* позиционирование */
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}
.mt70{
    margin-top: 70px;
}
.mt80{
    margin-top: 80px;
}
.mt100{
    margin-top: 100px;
}
.mt150{
    margin-top: 150px;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mb40{
    margin-bottom: 40px;
}
.mb50{
    margin-bottom: 50px;
}
.mb100{
    margin-bottom: 100px;
}
.mb150{
    margin-bottom: 150px;
}

h1{
    color: #000;
}

.darkSection {
    background-color: #30353b;
}
.darkSection h2{
    color: #fff;
}
.darkSection p{
    color: #838e9a;
}
.whiteSection .textbox {
     background-color: rgba(255,255,255,0.9);
     color: #3f444a;
 }


.top_carousel {
    height:500px;
    overflow: hidden;
    text-align: center;
}
.caruwrap {
    position: relative;
    height: 500px;
    width: 100%;
    z-index: -1;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
}
.top_carousel .caru_lead {
    position: relative;
    text-transform: uppercase;
    z-index: 10;
    top:100px;
    color: #fff;
    font-weight:bold;
    font-size:48px;
    line-height:1;
    max-width: 100%;

}
.top_carousel .caru_lead2 {
    position: relative;
    text-transform: uppercase;
    z-index: 10;
    top:100px;
    color: #fff;
    font-weight:bold;
    font-size:48px;
    line-height:1;
    max-width: 100%;

}
.top_carousel .caru_text {
    position: relative;
    top:330px;
    /*color: #fff;*/
    /*font-size:18px;*/
    /*line-height: 1.2;*/
    /*background-color: rgba(0,0,0,0.3);*/
    /*border: none;*/
    /*border-radius: 0;*/
}
.callmewrap{
    position: absolute;
    width: 100%;
    top:350px;
    text-align: center;
}
.callmewrap p {
    color: #fff;
    text-transform: uppercase;
    font-size:14px;
    font-family: "HelveticaLight", sans-serif;
    margin: 0 0 5px;
    
}

/*#callMeWrap .form-control::-webkit-input-placeholder { color: white; }*/
/*#callMeWrap .form-control:-moz-placeholder { color: white; }*/
/*#callMeWrap .form-control::-moz-placeholder { color: white; }*/
/*#callMeWrap .form-control:-ms-input-placeholder { color: white; }*/

#callMeWrap .form-control::-webkit-input-placeholder { color: rgba(255,255,255,0.6); }
#callMeWrap .form-control:-moz-placeholder { color: rgba(255,255,255,0.6); }
#callMeWrap .form-control::-moz-placeholder { color: rgba(255,255,255,0.6); }
#callMeWrap .form-control:-ms-input-placeholder { color: rgba(255,255,255,0.6); }

.caru_phone {
    text-transform: uppercase;
}
.btn-callme{
    text-transform: uppercase;
    padding: 8px 12px 4px;
    border-radius: 0px;
}


.inp-callme{
    text-transform: uppercase;
    padding: 7px 12px 4px;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
}

.btn-callme, 
.inp-callme{
    margin-bottom: 15px;
}

.carouselControl {
    position: absolute;
    top:250px;
    margin-top: -30px;
    cursor: pointer;
}
.carouselControl svg{
    width: 60px;
    height: 60px;
}
.slickPrev {
    left:20px;
}
.slickNext {
    right:20px;
}
.slickPrev,
.slickNext {
    stroke:#32c5d2;
}
.slickPrev:hover,
.slickNext:hover {
    stroke:#fff;
}

.caru_bgr_circle {
    position: absolute;
    z-index: 0;
    top: -145px;
    text-align: center;
    left:50%;
    width: 800px;
    margin-left: -400px;

}
.the_circle{
    fill:rgba(0,0,0,0.3);
}
.topsection-xs {
    background-color: #30353b;
    /*height: 300px;*/
    min-height:230px;
}

.topsection-xs .callmewrap{

    position: relative;
    width: 100%;
    top:0;
    text-align: center;
}
.topsection-xs h2{
    color: #fff;
}
.topsection-xs p{
    text-transform: lowercase;
}


.navbar {
    margin-bottom: 10px;
}
.navbar-brand img {
    width: 113px;
}
.navbar-brand {
    padding: 0;
    position: relative;
    left:20px;
}
.navbar-top {
    height: 50px;
    /*margin-top: 5px;*/
    padding-top:5px;
}
.navbar-header {
    width: 100%;
    background-color: #fff;
}
.navbar-top ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 10px;
    display: inline-block;
}


.topNavbarMenu {
    text-align: center;
    float: left;
    width: 500px;
    left: 50%;
    position: absolute;
    top: 13px;
    margin-left: -250px;
    padding:0;
}
@media only screen and (max-width : 700px) {
    .topNavbarMenu{
        left: auto;
        margin-left: 0;
        right: 0;
        text-align: right;
    }
}
.topNavbarMenu > li {
    float: none;
}
.main_phone {
    font-size:20px;
    color: #32c5d2;
    position: absolute;
    /* top: 13px; */
    top:32px;
    right:15px;
    transition: color .2s;
}
.main_phone:hover {
    color:black;
    transition: color .2s;
}
.logolead {
    text-transform: uppercase;
    margin-top: 15px;
    padding-left: 36px;
    margin-bottom: 0;
    font-size:10px;
    color: #32c5d2;
    background-color: #fff;
}
@media only screen and (min-width : 1200px) {
   
    .logolead {
        padding-left: 17%;
        margin-left: -10px;
    }
}


.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #525e64;
    font-family: "HelveticaRegular",sans-serif;
    transition: color .2s;
}
.navbar-nav > li > a:active,
.navbar-nav > li > a:hover {
    color: #32c5d2;
    transition: color .2s;
}
.navbar-right {
    float: right !important;
    margin-right: 5px;
}


/* uslugi */

#servicesSection {
    min-height: 600px;
    padding-bottom: 100px;
    padding-top:0;

}
.uslugi_head {
    background-color: #fff;
    height: 300px;
}
.topMenu {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.us_icon {
    width: 100px;
    height: 100px;
    /*stroke: #525e64;*/
}
.us_menuitem {
  cursor: pointer;
}
.us_menuitem svg{
    stroke: #525e64;
    transition: stroke .2s;

}
.us_menuitem:hover svg,
.us_menuitem:focus svg,
.us_menuitem.active svg  {
    stroke:#3CC2CF;
    transition: stroke .2s;
}

.us_link{
    display: block;
    text-transform: uppercase;
    color: #525e64;
    margin-top: -5px;
    padding-top: 25px;
    transition: color .2s;
}

.us_menuitem:hover .us_link,
.us_menuitem:hover .us_link,
.active .us_link {
    color: #32c5d2;
    transition: color .2s;
}
.triangle_svg {
    width: 70px;
    height: 70px;
    position: absolute;
    left:50%;
    margin-left: -35px;
    top:183px;
    display: none;
}
.topMenu .active .triangle_svg {
    display: block !important;
}
.servicePadding {
    padding-left:50px;
}
.uslugi h2 {
    color: #fff;
    text-transform: uppercase;
    font-size:32px;
    text-align: left;
    position: relative;
    margin:50px 0px 30px;
    font-family: HelveticaThin, sans-serif;
    cursor: default;
}
.uslugi h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin: 145px 0 40px;
}
.pagename{
    color: lightgray;
    text-transform: uppercase;
    text-align: center;
}
#servicesSection .pagename{
    margin-top: 70px;
    margin-bottom: 50px;
    color: lightgray;
    text-transform: uppercase;
    text-align: center;
}
.uslugi .pagedescription {
    padding: 50px 0 50px;
    cursor: default;
}
.uslugi .info {
    color: darkgrey;
    /*font-weight:bold;*/
    text-transform: uppercase;
}


.btn-primary{
    background-color: #32c5d2;
    border-color: #32c5d2;
    padding: 8px 12px 4px;
    border-radius: 0px;
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
}
.btn-primary:hover{
    background-color: #27a8b4;
    border-color: #27a8b4;
}
#servicesSection .secondlink {
    color: #fff;
    padding: 8px 12px 4px;
    border:2px #fff solid;
    border-radius: 0px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;

}
#servicesSection .secondlink.active,
#servicesSection .secondlink.active:focus,
#servicesSection .secondlink.active:hover,
#servicesSection .secondlink:hover{
    color: #30353b;
    border-color: #fff;
    background-color: #fff;
}

a {
    color: #32c5d2;
}
a:hover,
a:focus {
    text-decoration: none;
}
/*.uslugi ul li .active, .uslugi a:active {*/
    /*color: #FFD155;*/
/*}*/
section {
    min-height:600px;
    position: relative;
}



#servicesSection .defaultImage{
    position: absolute;
    width: 60%;
    left:20%;
    top:200px;
}
.defaultBottomImage{
    position: relative;
    margin: 110px 0 60px;
    width: 60%;
    left: 20%;
    opacity:0.9;
}

.vhoditLead {
    text-align: center;
    text-transform: uppercase;
    font-size:16px;
    color: #fff;
    margin:40px 0 20px;

    /* glyphicon glyphicon-ok */

}
.vhoditItems {
    font-size:16px;
    margin-bottom: 50px;
}
.vhoditItems i {
    color: lightgrey;
    margin-right: 10px;
}
.priceItems, 
.taskItems {
    font-size:16px;
    margin-bottom: 50px;
    padding: 0;
    color: #838e9a;
    list-style-type: none;  
}
.priceItems{
    text-align: center;
}
.priceItems i, 
.taskItems i {
    color: lightgrey;
    margin-right: 10px;
}
#clearSection {
    /*height: 600px;*/
    min-height: 600px;
    background-image: url(../img/clean4.jpg);
    /*background-position: top center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: transparent;
}
.lead {
    position: relative;
    top:100px;
    padding: 5px 50px;
    color: #fff;
    font-weight:bold;
    font-size:48px;
    line-height:1;
    font-family: HelveticaThin, sans-serif;
}

.text {
    position: relative;
    top:230px;
    padding: 10px 50px;
    color: #fff;
    font-size:18px;
    line-height: 1.2;
    background-color: rgba(0,0,0,0.2);
    border: none;
    border-radius: 0;
}
.almostWhite{
    background-color: #f9f8f6;
}



/* почему мы - преимущества*/
#advantagesSection{
    padding-top: 20px;
    min-height: 600px;
    background-image: url(../img/white-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: transparent;
}
#advantagesSection .textbox {
    padding: 100px;
    margin-bottom: 20px;
}
#advantagesSection .container{
    padding: 0px 30px;
}
#advantagesSection .row {
    margin-bottom: 0;
    margin-top: 0;
}
#advantagesSection .imagebox {
    height: 400px;
    background-image: url(../img/clean_bw3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    color: #fff;
    padding-top: 183px;
    margin-bottom: 20px;
}
/*.imagebox .form-group{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top:-17px;*/
/*}*/
#advantagesSection .info {
    color: #838e9a;
}
.advantageName {
    text-transform: uppercase;
    color: #3f444a;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "HelveticaRegular", sans-serif;
    font-size:24px;
}
#advantagesSection .form-control::-webkit-input-placeholder { color: rgba(255,255,255,0.6); }
#advantagesSection .form-control:-moz-placeholder { color: rgba(255,255,255,0.6); }
#advantagesSection .form-control::-moz-placeholder { color: rgba(255,255,255,0.6); }
#advantagesSection .form-control:-ms-input-placeholder { color: rgba(255,255,255,0.6); }





/* наши партнеры*/
#partnersSection{
    padding: 0;
    height: 600px;
    overflow: hidden;
}
#partnersSection .info{
    margin-top: 30px;
    color: #fff;
}
#partnerName {
    font-family: HelveticaThin, sans-serif;
    margin-top: 100px;
}
.partnerBgrImg{
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center center;
    background-color: transparent;
}
#partnersSection  .slickNext{
    top: 400px;
    margin-top: -30px;
    right: 50%;
    margin-right:-30px;
}
/*.partnersImg{*/
    /*width: 80%;*/
    /*position: relative;*/
    /*z-index:0;*/
    /*margin-bottom: 20px;*/
/*}*/
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    /*background-image: url(...);   !* add custom arrow *!*/
}
select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
}

.input-group-addon{
    cursor: pointer;
}

.menufilter , #backfilter {
    width: 100%;
    /*height: 100%;*/
    background-color: rgba(96,125,139,.8);
    position: fixed;
    top: 0px;

    height: 0;
    display: none;
}
.backfilterOff,
#backfilter .backfilterOff{
    height: 0px;
    animation: backfilter_off 0.8s linear normal;
    animation-fill-mode:forwards;
}


@keyframes backfilter_off {
    0% {
        background-color: rgba(0,0,0,0.4);
        height: 100%;
    }
    90% {
        background-color: transparent;
        height: 100%;
    }
    100% {
        background-color: transparent;
        height: 0px;
    }

}
.backfilterOn,
#backfilter .backfilterOn{
    display: block !important;
    animation: backfilter_on 0.4s linear normal;
    animation-fill-mode:forwards;
    z-index: 5;
    height: 100%;
}


@keyframes backfilter_on {
    0% {
        background-color: transparent;
        height: 100%;

    }
    100% {

        background-color: rgba(0,0,0,0.4);
        height: 100%;
    }
}

#reviewSection {
    min-height:400px;
}
#reviewSection .carouselControl{
    top:50%;
}
#reviewSection .slickPrev:hover,
#reviewSection .slickNext:hover {
    stroke:#525e64;
}

#reviewSection .container{
    width: 80%;
    margin-left:10%;
    margin-top: 50px;
    /*background-color: rgba(0,0,0,0.3);*/
}
#reviewSection .pagename {
    margin-top: 70px;
    /*background-color: rgba(0,0,0,0.3);*/
}
#reviewSection .textBox{
    background-color: #fff;
    margin: 10px;
    padding: 20px;
}
#reviewSection .nameBox{
    margin: 10px;
    padding: 10px;
    position: relative;
}
.reviewCleanType{
    text-align: right;
    text-transform: uppercase;
    font-size:11px;
    color:rgba(0,0,0,0.3);
}
.reviewNamePro{
    color: lightgrey;
    text-transform: uppercase;
}
#reviewSection .triangle_svg{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 30px;
    top:-35px;
    margin-left: 0;

}
/*#reviewSection .info {*/
    /*font-family: HelveticaThin, sans-serif;*/
    /*font-size:18px;*/
/*}*/
.reviewText {
    /*margin-top: 130px;*/
    font-family:"HelveticaRegular",sans-serif;
    font-size:12px;
}
.reviewName {
    margin-top: 20px;
    text-align: left;
    /*font-style: italic;*/
    text-transform: uppercase;
    margin-bottom: 0;
}
#orderSection {
    padding: 100px 0;
    background-image: url(../img/placeorder.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: transparent;
}
#orderSection .pagename {
    margin: 30px 0 30px;
    color: #fff;
}
#orderSection .info {
    margin: 10px 0 20px;
    color: #fff;
}
#orderSection .form-control {
    background-color: rgba(255,255,255,0.8);
    /*color: #000;*/
    border-radius: 0px;
}
#orderSection label {
    color: #fff;
    opacity: 1;
    font-family: "HelveticaLight", sans-serif;
}
/*svg*/
.svg_arrow {
    stroke: white;
    stroke-width: 2px;
}
.btn_right_arrow {
    line-height: 1;
    padding: 4px 7px 0px;
}
.pricesInfo {
    font-family:"HelveticaRegular",sans-serif;
    font-size: 12px;
    margin-bottom: 50px;
    color: grey;
}

label {
    /*opacity: 0.5;*/
    text-transform: lowercase;
    margin-bottom: 0;
    font-size: 14px;
}
.select_dropdown {
    position: absolute;
    opacity:0.5;
    right: 20px;
    top: 34px;
    font-size: 10px;
}

.homeTopFormRow{
    position: relative;
    display: block;
    margin: auto;
}









/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    #reviewSection .container{
    width: 90%;
    margin-left:5%;
    }

    .navbar-top ul li {
        padding: 20px 6px;
    }
    .top-carousel .lead {
        top:80px;
        font-size: 36px;
    }
    #clearSection .lead {
        font-size: 36px;
    }
    #advantageName {
        font-size: 36px;
    }
    .top-carousel .text {
        top: 250px;
    }

    .topMenu {
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
    #advantagesSection .textbox {
        padding: 40px;
    }
    #advantagesSection .btn-callme{
        margin-top: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
/*@media only screen and (max-width : 790px) {*/
    .navbar-top {
        height: 60px;
    }

    #partnersSection  .slickNext{
        top: 240px;
    }
    #reviewSection .container{
        width: 60%;
        margin-left:20%;
    }
    #partnersSection{
        height: 400px;
        min-height: 400px;

    }
    #partnerName {
        margin-top: 50px;
    }
    #advantagesSection .container{
        padding: 0px 10px;
    }
    #advantagesSection .textbox {
        padding: 50px;
        margin-bottom: 20px;
    }
    #advantagesSection .imagebox {
        padding-left:50px;
        padding-right: 50px;
        padding-top: 183px;
    }
    .servicePadding {
        padding-left:20px;
    }

    .topsection-xs {
        display: block;
    }
    .topMenu {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .topMenu .us_link{
        font-size: 11px;
    }
    .topMenu .us_icon{
        width: 80px;
        height: 80px;
    }

    .main_phone {
        top:5px;
        font-size:24px;
    }
    .logolead{
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
    #reviewSection .container{
        width: 80%;
        margin-left:10%;
    }
    #advantagesSection .textbox {
        padding: 20px;
    }
    #advantagesSection .imagebox {
        padding-left:20px;
        padding-right: 20px;
        padding-top: 163px;
    }

    .topMenu .us_link{
        font-size: 9px;
    }
    .topMenu .us_icon{
        width: 60px;
        height: 60px;
    }
    #clearSection .text {
        top: 150px;
        padding:5px 5px;
        font-size: 16px;
        background-color: rgba(0,0,0,.4);
    }
    .btn-primary {
        font-size: 14px;
    }
    .vhoditItems {
        padding-left: 0;
    }
    #clearSection .lead {
        padding: 5px 5px;
        font-size: 36px;
    }
}

@media only screen and (max-width : 359px) {
    #advantagesSection .imagebox {
        padding-left:5px;
        padding-right: 5px;
        padding-top: 105px;
        height: 300px;
    }
    #servicesSection .pagename{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #servicesSection .triangle_svg {
        top:114px;
    }
    .topMenu .us_link{
        font-size: 7px;
        padding-top: 11px;
    }
    .uslugi_head {
        height: 200px;
    }

    .main_phone {
        top:2px;
        font-size:20px;
    }
    #clearSection .text {
        background-color: rgba(0,0,0,.5);
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 319px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .topsection-xs {
        display: none;
    }
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .top_carousel {
        height:600px;
    }
    .caruwrap {
        height: 600px;
    }
    .caru_bgr_circle {
        top: -100px;
        /*left:50%;*/
        /*width: 800px;*/
        /*margin-left: -400px;*/
    }
    .top_carousel .caru_lead {
        top:150px;
        font-size:48px;

    }
    .top_carousel .caru_lead2 {
        top:150px;
        font-size:48px;
    }
    .top_carousel .caru_text {
        top:330px;
    }
    .callmewrap{
        top:350px;
    }
    .carouselControl {
        top:300px;
        margin-top: -30px;
    }
    .carouselControl svg{
        width: 60px;
        height:60px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .navbar-brand {
        left: 15%;
    }
   
    .main_phone {
        right: 15%;
    }
}

.text-white{
    color: white;
}
.white-shadow {
    /* text-shadow: -1px 0px 4px white,1px 0px 4px white,0px -1px 4px white,0px 1px 4px white,0px 0px 10px white,0px 0px 10px white,0px 0px 10px white,0px 0px 10px white,0px 0px 10px white,0px 0px 10px white,0px 0px 10px white; */
    text-shadow: -1px 0px 0px white,1px 0px 0px white,0px -1px 0px white,0px 1px 0px white,
    -2px 0px 1px white,2px 0px 1px white,0px -2px 1px white,0px 2px 1px white;

}
.text-white-bgr {
    background-color: #fff;
    padding: 0 0.3rem;

}
.noselect{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}