{{define "login"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Document</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">

        <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
       
        <!-- <link rel="stylesheet" type="text/css" href="/assets/client/css/client.css"> -->
        <link rel="stylesheet" type="text/css" href="/assets/client/css/client.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


        <style>
           
        </style>
        {{block "css" .}}
        {{end}}
    </head>
    <body>


      <div class="container-fluid">
        <nav class="navbar navbar-top">
          <div class="container-fluid">
              <div class="navbar-header ">
                  <a href="/" class="navbar-brand"><img src="/assets/client/img/dclogo.png" alt="Динаклининг - уборка с заботой"></a>
                  <ul class="navbar-nav  d-none d-sm-inline-block topNavbarMenu">
                      <!-- <li><a href="/" >Главная</a></li> -->
              
                  </ul>
                  <a  href="/login" class="main_phone">Войти</a>
              </div>
      
          </div>
        </nav>

        
       
      </div>


     

      
     


{{block "content" .}}
{{end}}
      



        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script src="https://unpkg.com/notie"></script>

        <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>

        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
        
       <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 


        
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        
        

       

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
        <!-- <script type="text/javascript" src="/libs/slick/slick.min.js"></script> -->
        <!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->
        
        <script src="/assets/client/js/client.js"></script>
    
        {{block "js" .}}

        <script>

    // let attention = Prompt();
        
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        
    
        function notify(msg, msgType){
          notie.alert({
            type: msgType, 
            text: msg,
            time: 5,
          })
        }
    
        function notifyModal(title, text, icon , confirmButtonText){
          Swal.fire({
            title: title,
            html: text,
            icon: icon,
            confirmButtonText: confirmButtonText
          });
        }
  

      
     
        {{with .Error}}
        notify("{{.}}", "error") 

        {{end}}

        {{with .Flash}}
        notify("{{.}}", "success")
        {{end}}

        {{with .Warning}}
        notify("{{.}}", "warning")
        {{end}}

        {{with .Modal}}
        notifyModal('!',"{{.}}","","ОК")
        {{end}}
      



    
        </script>
        {{end}}

     
    </body>
    </html>
{{end}}


