{{template "login" .}}






{{define "content"}}
<div class="container-fluid">
    
    <div class="row ">
        <div class="col-sm-12 text-center mt-3">
            <h3 class="my-5 ">Вход</h1>
            
            <form method="post" 
                  action="/login"
                  novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">email</label>
                            {{with .Form.Errors.Get "email"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="email" 
                                required
                                class="form-control {{with .Form.Errors.Get "email"}} is-invalid  {{end}}"
                                id="email"
                                name="email" 
                                value=""
                                aria-describedby="Имя">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="password">password</label>
                            {{with .Form.Errors.Get "password"}}
                                <label class="text-danger">{{.}}</label>
                            {{end}}
                            <input type="password" 
                                required
                                class="form-control {{with .Form.Errors.Get "password"}} is-invalid  {{end}}"
                                id="password"
                                name="password" 
                                value=""
                                aria-describedby="Имя">
                        </div>
                    </div>
                    
        
                </div>

                <hr>
                <input 
                    type="submit" 
                    class="btn btn-primary mb-5" 
                    value="войти">
            </form>
        </div>
    </div>


    
</div>

{{end}}