{{template "base" .}}


{{define "content"}}


<h1>Размещение заявки</h1>

<script>
    var orderSection = document.getElementById("orderSection");
    if(orderSection){
        orderSection.scrollIntoView({block: "start", behavior: "smooth"});
    }  
</script>

{{end}}

{{define "js" }}

{{end}}